[submodule "iqa"]
	path = iqa
	url = https://github.com/idealo/image-quality-assessment
[submodule "brisq"]
	path = brisq
	url = https://github.com/krshrimali/No-Reference-Image-Quality-Assessment-using-BRISQUE-Model
